<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<div class="header">
<h1>rDuino Compiler Uploader Server</h1>
Install a new board type in the Arduino compiler
</div>

<div class="row">
<div class="col-3 col-s-3 menu" id="buttonList">
<ul>
    <a href="{{ url_for("main_page") }}" id="main"><li>Main page</li></a>
    <a href="{{ url_for("install_library") }}" id="install_library"><li>Add a library to the compiler</li></a>
</ul>
</div>


<!--    return render_template('main.html', theBoardList=boardList, theBoard=myBoard, theTargetList=targetList, theTarget=myTarget, theTempFile=myTempDirectory+separator+myFileName) -->

<div class="col-6 col-s-9">
<h1>The board</h1>
<div class="section">
Currently available boards:
{% for board in theBoardList %}
    <li value="{{board}}">{{board}}</li>
{% endfor %}  

<form action={{ url_for("install_board") }} method="POST">
  Enter the name of the new board to add to the compiler :<br>
  <input type="text" name="board" value="{{ theBoard }}"><br>
  <input type="submit" value="OK">
</form>
</div>


<h1>The result of the last command</h1>
<div class="section_result">{{ cmd }}:</p>{{ result|safe }}</div>
<div class="section_error">{{ error|safe }}</div>

</div>

</div>

<div class="footer">
<p>(c) NBRemond - 2016</p>
</div>

</body>
</html>
