<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Truc rDuino Compiler Uploader Server</title>
<link rel="stylesheet" href="static/styles.css" type="text/css" />
<link rel="stylesheet" href="static/styles_nbr.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
<script type=text/javascript>
var timer1 = null;

function updateResult() {
  $.getJSON('/get_result', function(data) {
//        $("#section_result").text("toto " + data.result);
        document.getElementById('section_result').innerHTML = "Date : " + data.date + "<br/>Heure de la dernière exécution : " + data.compileTime +  "<br/><br/>Resultat : " + data.result;
        document.getElementById('section_error').innerHTML = "" + data.error + "<br/>The return code: " + data.returnCode

        if (data.returnCode == "Waiting for command...") {
            document.getElementById("section_indicator").style.backgroundColor = "black";
        }
        else if (data.returnCode == "In progress...") {
            document.getElementById("section_indicator").style.backgroundColor = "yellow";
        }
        else if (data.returnCode == 0) {
            document.getElementById("section_indicator").style.backgroundColor = "green";
        }
        else {
            document.getElementById("section_indicator").style.backgroundColor = "red";
        }
    });
}
timer1 = setInterval('updateResult()', 1000 * 1);

</script>

</head>
<body>
    <div class="section_result"><span id=section_result>{{ result|safe }}</span></div>
    <div class="section_error"><span id=section_error>{{ error|safe }}</span></div>
    <div class="section_indicator" id=section_indicator></div><br/>
</body>
</html>
